* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: lightblue;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.form__group {
  margin-bottom: 2rem;
}

input:disabled {
  cursor: not-allowed;
}

button:disabled,
.btn:disabled {
  cursor: not-allowed;
  background: gray;
  outline: none;
  border: none;
}
